/* General styles for body to handle font-size, family, and line-height */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* Styles to handle the header region and customization to the jumbotron BootStrap class */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 5px solid black;
}

/* Class to handle hiding header elements when toggle to collapse */
.hidden {
  display: none;
}

/* Class to adjust width of the hour labels to the left of the entry fields */
.hourlabel {
  min-width: 100px !important;
}
